/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$Red: hsl(0,
100%,
74%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(assets/images/bg-intro-desktop.png);
    background-color: $Red;
    background-size: cover;
}